/* Center the form content */
.task-form {
  background-image: url('/public/back.jpg'); /* Remove 'public' from the path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  margin: auto;
}


.form-input, .form-select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-task-btn {
  padding: 0.5rem 1rem;
  background-color: #3a7bd5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
